@import "partials/settings";
@import "partials/foundation";

$dark-color : #333333;

body {
  background: $dark-color;
}

.title_text {

  color: #938888;
}

.header_text_container {
  margin-left: 60px;
  text-align: left;
  font-size: 12px;
  color: #938888;
}

.slick-slider {

  width: 1000px;
  height: 250px;
  text-align: center;
}

.slick-slide {

  width: 1000px;
  height: 250px;
  background: black;
  img {
    text-align: center;
  };
}

.sliderImg img {

  display: inline-block;
  // width: 250px;
  height: 550px;

}

.image_container {

  // width: 50px;
  // length:50px;
  img {
    height: 100%;
    width: 100%;
    // max-height: 100px;
  }
}

.list_image {

  max-height: 350px;
}

.button {

  margin: 100px;
  padding: 100px;
}

.login_logout_container {

  float: right;
}

.login_logout {

  font-size: 10px;
  float: right;
}

// .login button tiny
.scroll_div {

  // overflow-y: scroll;
  height: 500px;

}