doctype html
html
  head
    block head
    meta(charset="en")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="../css/styles.css")
    link(rel="stylesheet", href="../bower_components/foundation/css/foundation.css")
    script(src="../bower_components/modernizr/modernizr.js")
    title
  body
    block body
    script(src="/bower_components/modernizr/modernizr.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/foundation/js/foundation.min.js")
    script(src="../js/client.js")
    script
      | $(document).foundation();var doc = document.documentElement; doc.setAttribute('data-useragent', navigator.userAgent);
    block bodyend