extends ./header.jade

block append body
  .row
    div(class="large-12 columns")
      form(action="/createUser" method="post")
        label
          | Username
        input(type="text" name="username")
        label
          | Password
        input(type="password" name="password")
        input(type="submit" value="Create")