extends ./base_template.jade

block prepend body
  hr(class="hr_separator")
  .row
    div(class="large-3 columns")
      h1
        strong
          span(class="title_text")
            | _ARCHITEKT
    div(class="large-3 columns")
    div(class="large-6 columns")
      .header_text_container
        span(class="headerText")
          | Welcome to our online portfolio. We are a small button-group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow our innovative steps.