extends ./single_image.jade

block append display_or_edit_block
  form(id="user_submit_form", method="get")
    .text_container
      .author_container
        span= image.author
      .description_container
        span= image.description
    .button_container
      div
        a(href=image.id+"/edit", class="button")
          | Edit
        //- a(href="", onclick="location.href='/gallery/' + image.id + '/edit';return false;" class="button")
          //- | Edit
      div
        a(href="#", class="button")
          | Delete
      div
        a(href="/", class="button")
          | Back to Gallery