extends ./single_image.jade

block append display_or_edit_block
  form(id="delete_form", method="post" action="/gallery/" + image.id)
    input(type="hidden", name="method",value="delete")
    input(type="hidden", name="id",value=image.id)
  form(id="user_submit_form", method="get")
    .text_container
      .author_container
        span= image.author
      .description_container
        span= image.description
    .button_container
      div
        a(href="../gallery/"+image.id+"/edit", class="button")
          | Edit
      div
        a(href="#", onclick="document.getElementById('delete_form').submit()", class="button")
          | Delete
      div
        a(href="/", class="button")
          | Back to Gallery